<div class="row">
  <div class="col-6">
    <input type="text" class="form-control" placeholder="Type name" [(ngModel)]="name">
    <input type="text" class="form-control" placeholder="Type lastName" [(ngModel)]="lastName">
    <input type="text" class="form-control" placeholder="Type email" [(ngModel)]="email">
    <input type="text" class="form-control" placeholder="Type phone" [(ngModel)]="phone">
    <input type="text" class="form-control" placeholder="Type address" [(ngModel)]="address">
    <button class="btn btn-success" [disabled]="isShowSuccess || isShowDanger" (click)="addContactClick()">Add</button>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="alert alert-success" style="margin-top: 30px" *ngIf="isShowSuccess">Contact added!</div>
    <div class="alert alert-danger" style="margin-top: 30px" *ngIf="isShowDanger">Contact already exists!</div>
  </div>
</div>
